*
!index.html
!style.css
!script.js
!.gitignore
!.nojekyll
!assets/
assets/*
!assets/profile/
assets/profile/*
!assets/profile/nikhil-headshot.jpeg
!assets/logos/
assets/logos/*
!assets/logos/provided/
assets/logos/provided/*
!assets/logos/provided/hr-block-logo.png
!assets/logos/provided/pwc-logo.png
!assets/logos/provided/my-cpe-one-logo.jpeg
